In [2]:
import pandas as pd
import glob

In [3]:
primary_person_csv = glob.glob('./*AUSTIN/*primaryperson*') #./ means this directory; *everything before, *everything after

In [4]:
primary_person_csv

['.\\20100101-20101231_AUSTIN\\extract_public_2010_20190912084151_primaryperson_20100101-20101231_AUSTIN.csv',
 '.\\20110101-20111231_AUSTIN\\extract_public_2010_20190912084229_primaryperson_20110101-20111231_AUSTIN.csv',
 '.\\20120101-20121231_AUSTIN\\extract_public_2010_20190912084258_primaryperson_20120101-20121231_AUSTIN.csv',
 '.\\20130101-20131231_AUSTIN\\extract_public_2010_20190912084344_primaryperson_20130101-20131231_AUSTIN.csv',
 '.\\20140101-20141231_AUSTIN\\extract_public_2010_20190912084419_primaryperson_20140101-20141231_AUSTIN.csv',
 '.\\20150101-20151231_AUSTIN\\extract_public_2015_20190912084445_primaryperson_20150101-20151231_AUSTIN.csv',
 '.\\20160101-20161231_AUSTIN\\extract_public_2015_20190912084510_primaryperson_20160101-20161231_AUSTIN.csv',
 '.\\20170101-20171231_AUSTIN\\extract_public_2015_20190912084536_primaryperson_20170101-20171231_AUSTIN.csv',
 '.\\20180101-20181231_AUSTIN\\extract_public_2018_20190912084602_primaryperson_20180101-20181231_AUSTIN.csv',
 '.\\20190101-20190911_AUSTIN\\extract_public_2018_20190912084628_primaryperson_20190101-20190911_AUSTIN.csv']

In [5]:
df = pd.DataFrame()
for i in primary_person_csv:
    j = i[2:] #remove .\\ from filename
    print(j)
    k = (pd.read_csv(j))
    df = df.append(k)

20100101-20101231_AUSTIN\extract_public_2010_20190912084151_primaryperson_20100101-20101231_AUSTIN.csv
20110101-20111231_AUSTIN\extract_public_2010_20190912084229_primaryperson_20110101-20111231_AUSTIN.csv
20120101-20121231_AUSTIN\extract_public_2010_20190912084258_primaryperson_20120101-20121231_AUSTIN.csv
20130101-20131231_AUSTIN\extract_public_2010_20190912084344_primaryperson_20130101-20131231_AUSTIN.csv
20140101-20141231_AUSTIN\extract_public_2010_20190912084419_primaryperson_20140101-20141231_AUSTIN.csv
20150101-20151231_AUSTIN\extract_public_2015_20190912084445_primaryperson_20150101-20151231_AUSTIN.csv

C:\Users\geogh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

20160101-20161231_AUSTIN\extract_public_2015_20190912084510_primaryperson_20160101-20161231_AUSTIN.csv
20170101-20171231_AUSTIN\extract_public_2015_20190912084536_primaryperson_20170101-20171231_AUSTIN.csv

C:\Users\geogh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (20,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

20180101-20181231_AUSTIN\extract_public_2018_20190912084602_primaryperson_20180101-20181231_AUSTIN.csv
20190101-20190911_AUSTIN\extract_public_2018_20190912084628_primaryperson_20190101-20190911_AUSTIN.csv

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286480 entries, 0 to 22751
Data columns (total 32 columns):
Crash_ID                 286480 non-null int64
Unit_Nbr                 286480 non-null int64
Prsn_Nbr                 286480 non-null int64
Prsn_Type_ID             286179 non-null float64
Prsn_Occpnt_Pos_ID       286437 non-null float64
Prsn_Injry_Sev_ID        285790 non-null float64
Prsn_Age                 270091 non-null float64
Prsn_Ethnicity_ID        283149 non-null float64
Prsn_Gndr_ID             285791 non-null float64
Prsn_Ejct_ID             286179 non-null float64
Prsn_Rest_ID             285537 non-null float64
Prsn_Airbag_ID           285364 non-null float64
Prsn_Helmet_ID           286179 non-null float64
Prsn_Sol_Fl              285702 non-null object
Prsn_Alc_Spec_Type_ID    286479 non-null float64
Prsn_Alc_Rslt_ID         4679 non-null float64
Prsn_Bac_Test_Rslt       4679 non-null float64
Prsn_Drg_Spec_Type_ID    286479 non-null float64
Prsn_Drg_Rslt_ID         286425 non-null float64
Drvr_Drg_Cat_1_ID        286457 non-null float64
Prsn_Death_Time          620 non-null object
Sus_Serious_Injry_Cnt    286480 non-null int64
Nonincap_Injry_Cnt       286480 non-null int64
Poss_Injry_Cnt           286480 non-null int64
Non_Injry_Cnt            286480 non-null int64
Unkn_Injry_Cnt           286480 non-null int64
Tot_Injry_Cnt            286480 non-null int64
Death_Cnt                286480 non-null int64
Drvr_Lic_Type_ID         279647 non-null float64
Drvr_Lic_State_ID        260300 non-null float64
Drvr_Lic_Cls_ID          274570 non-null float64
Drvr_Zip                 260501 non-null object
dtypes: float64(19), int64(10), object(3)
memory usage: 72.1+ MB

In [7]:
df.shape

(286480, 32)

In [8]:
df.isna().sum()

Crash_ID                      0
Unit_Nbr                      0
Prsn_Nbr                      0
Prsn_Type_ID                301
Prsn_Occpnt_Pos_ID           43
Prsn_Injry_Sev_ID           690
Prsn_Age                  16389
Prsn_Ethnicity_ID          3331
Prsn_Gndr_ID                689
Prsn_Ejct_ID                301
Prsn_Rest_ID                943
Prsn_Airbag_ID             1116
Prsn_Helmet_ID              301
Prsn_Sol_Fl                 778
Prsn_Alc_Spec_Type_ID         1
Prsn_Alc_Rslt_ID         281801
Prsn_Bac_Test_Rslt       281801
Prsn_Drg_Spec_Type_ID         1
Prsn_Drg_Rslt_ID             55
Drvr_Drg_Cat_1_ID            23
Prsn_Death_Time          285860
Sus_Serious_Injry_Cnt         0
Nonincap_Injry_Cnt            0
Poss_Injry_Cnt                0
Non_Injry_Cnt                 0
Unkn_Injry_Cnt                0
Tot_Injry_Cnt                 0
Death_Cnt                     0
Drvr_Lic_Type_ID           6833
Drvr_Lic_State_ID         26180
Drvr_Lic_Cls_ID           11910
Drvr_Zip                  25979
dtype: int64

In [9]:
#Drop uneeded columns
drops = ["Unit_Nbr", "Prsn_Nbr", "Prsn_Nbr", "Prsn_Type_ID", "Prsn_Sol_Fl", "Prsn_Drg_Spec_Type_ID", "Prsn_Death_Time",
        "Sus_Serious_Injry_Cnt", "Nonincap_Injry_Cnt", "Poss_Injry_Cnt", "Non_Injry_Cnt", "Unkn_Injry_Cnt", "Tot_Injry_Cnt",
         "Death_Cnt", "Drvr_Lic_Type_ID", "Drvr_Lic_State_ID", "Drvr_Lic_Cls_ID", "Drvr_Zip"]
#See data documentation for rationale
df_primaryperson = df.drop(drops, axis=1)
df_primaryperson.head()

,Crash_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID,Prsn_Alc_Spec_Type_ID,Prsn_Alc_Rslt_ID,Prsn_Bac_Test_Rslt,Prsn_Drg_Rslt_ID,Drvr_Drg_Cat_1_ID
0,11152580,1.0,3.0,24.0,1.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
1,11152580,1.0,5.0,60.0,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
2,11152580,1.0,5.0,23.0,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
3,11153849,1.0,5.0,NaN,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
4,11153849,1.0,5.0,NaN,2.0,1.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0

In [10]:
df_primaryperson.shape

(286480, 15)

In [11]:
df_primaryperson.to_csv(r'primary_person.csv')