In [2]:
import pandas as pd

In [5]:
read_file = pd.read_csv('crash.csv')

C:\Users\rmead\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (20,21,23,35,36,38,47,82,155,156) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df = pd.DataFrame(read_file)
df.head()

,Unnamed: 0,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
0,0,11152580,N,N,N,N,N,N,N,01/15/2010,...,0,2,2,0,2,0,90.0,NaN,NaN,NaN
1,1,11153849,N,N,N,N,N,N,N,01/15/2010,...,0,1,5,0,1,0,90.0,NaN,NaN,NaN
2,2,11154056,N,N,N,N,N,N,N,01/13/2010,...,0,1,1,0,1,0,90.0,NaN,NaN,NaN
3,3,11154058,N,N,N,N,N,N,N,01/13/2010,...,0,1,3,0,1,0,90.0,NaN,NaN,NaN
4,4,11154059,N,N,N,N,N,N,N,01/12/2010,...,0,0,3,0,0,0,90.0,NaN,NaN,NaN

In [20]:
#df.drop(
print(df.columns[1])#, axis = 1)

Crash_ID