In [1]:
import numpy as np
import pandas as pd

In [2]:
crash = pd.read_csv('crash_clean.csv')

In [4]:
crash.head()

,Unnamed: 0,Crash_ID,Crash_Fatal_Fl,Crash_Date,Crash_Time,Rpt_Rdwy_Sys_ID,Rpt_Hwy_Num,Private_Dr_Fl,Crash_Speed_Limit,At_Intrsct_Fl,...,Obj_Struck_ID,Latitude,Longitude,Street_Name,Street_Nbr,Street_Name_2,Crash_Sev_ID,Day_of_Week,Tot_Injry_Cnt,Death_Cnt
0,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,64,30.376001,-97.673639,E BRAKER LN,867.0,NaN,3,FRI,2,0
1,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,29,30.307715,-97.726472,E 45TH ST,300.0,UNKNOWN,3,FRI,1,0
2,2,11154056,N,01/13/2010,06:38 PM,19,NaN,N,35,Y,...,64,30.265225,-97.740032,E 4TH ST,398.0,TRINITY ST,3,WED,1,0
3,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,64,30.300115,-97.732672,E 38TH ST,200.0,UNKNOWN,3,WED,1,0
4,4,11154059,N,01/12/2010,04:51 PM,1,35,N,55,N,...,64,30.292341,-97.721250,IH0035,NaN,NaN,5,TUE,0,0

In [5]:
p_person = pd.read_csv('primary_person_clean.csv')

In [6]:
p_person.head(10)

,Unnamed: 0,Crash_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID,Prsn_Alc_Spec_Type_ID,Prsn_Alc_Rslt_ID,Prsn_Bac_Test_Rslt,Prsn_Drg_Rslt_ID,Drvr_Drg_Cat_1_ID
0,0,11152580,1.0,3.0,24.0,1.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
1,1,11152580,1.0,5.0,60.0,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
2,2,11152580,1.0,5.0,23.0,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
3,3,11153849,1.0,5.0,NaN,2.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
4,4,11153849,1.0,5.0,NaN,2.0,1.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
5,5,11154056,16.0,3.0,45.0,1.0,1.0,4.0,11.0,1.0,97.0,4.0,NaN,NaN,97.0,97.0
6,6,11154056,1.0,5.0,22.0,1.0,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
7,7,11154058,1.0,5.0,34.0,2.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
8,8,11154058,1.0,3.0,25.0,1.0,2.0,1.0,1.0,0.0,97.0,4.0,NaN,NaN,97.0,97.0
9,9,11154058,1.0,5.0,49.0,1.0,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0

In [7]:
merged = crash.merge(p_person, left_on='Crash_ID', right_on='Crash_ID')

In [8]:
merged.head(10)

,Unnamed: 0_x,Crash_ID,Crash_Fatal_Fl,Crash_Date,Crash_Time,Rpt_Rdwy_Sys_ID,Rpt_Hwy_Num,Private_Dr_Fl,Crash_Speed_Limit,At_Intrsct_Fl,...,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID,Prsn_Alc_Spec_Type_ID,Prsn_Alc_Rslt_ID,Prsn_Bac_Test_Rslt,Prsn_Drg_Rslt_ID,Drvr_Drg_Cat_1_ID
0,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
1,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
2,0,11152580,N,01/15/2010,12:06 PM,19,NaN,N,35,N,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
3,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
4,1,11153849,N,01/15/2010,04:32 PM,19,NaN,N,0,Y,...,1.0,1.0,1.0,3.0,97.0,4.0,NaN,NaN,97.0,97.0
5,2,11154056,N,01/13/2010,06:38 PM,19,NaN,N,35,Y,...,1.0,4.0,11.0,1.0,97.0,4.0,NaN,NaN,97.0,97.0
6,2,11154056,N,01/13/2010,06:38 PM,19,NaN,N,35,Y,...,1.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
7,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0
8,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,2.0,1.0,1.0,0.0,97.0,4.0,NaN,NaN,97.0,97.0
9,3,11154058,N,01/13/2010,03:47 PM,19,NaN,N,30,N,...,2.0,1.0,1.0,2.0,97.0,4.0,NaN,NaN,97.0,97.0

In [9]:
# merged.to_csv('drunk_driving.csv')

In [10]:
merged.columns

Index(['Unnamed: 0_x', 'Crash_ID', 'Crash_Fatal_Fl', 'Crash_Date',
       'Crash_Time', 'Rpt_Rdwy_Sys_ID', 'Rpt_Hwy_Num', 'Private_Dr_Fl',
       'Crash_Speed_Limit', 'At_Intrsct_Fl', 'Wthr_Cond_ID', 'Light_Cond_ID',
       'Traffic_Cntl_ID', 'Investigat_Notify_Time', 'Obj_Struck_ID',
       'Latitude', 'Longitude', 'Street_Name', 'Street_Nbr', 'Street_Name_2',
       'Crash_Sev_ID', 'Day_of_Week', 'Tot_Injry_Cnt', 'Death_Cnt',
       'Unnamed: 0_y', 'Prsn_Occpnt_Pos_ID', 'Prsn_Injry_Sev_ID', 'Prsn_Age',
       'Prsn_Ethnicity_ID', 'Prsn_Gndr_ID', 'Prsn_Ejct_ID', 'Prsn_Rest_ID',
       'Prsn_Airbag_ID', 'Prsn_Helmet_ID', 'Prsn_Alc_Spec_Type_ID',
       'Prsn_Alc_Rslt_ID', 'Prsn_Bac_Test_Rslt', 'Prsn_Drg_Rslt_ID',
       'Drvr_Drg_Cat_1_ID'],
      dtype='object')

In [11]:
df = merged[['Crash_ID', 'Crash_Date', 'Prsn_Alc_Rslt_ID', 'Prsn_Injry_Sev_ID']]

In [12]:
# check how many rows are not null
sum(df['Prsn_Alc_Rslt_ID'].notna())

4679

In [13]:
# check the percentage of missing data
100*(1-sum(df['Prsn_Alc_Rslt_ID'].notna())/len(df['Prsn_Alc_Rslt_ID']))

98.36672717118124

In [15]:
import datetime as dt
df["Crash_Date"] = pd.to_datetime(df["Crash_Date"], format= "%m/%d/%Y")

c:\users\18811\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
# divide the ridesharing periods
df["ridesharing"] = 'before'
df["ridesharing"].loc[(df["Crash_Date"] > dt.datetime(2014,6,1)) & (df["Crash_Date"] <= dt.datetime(2016,5,10))] = 'entry'
df["ridesharing"].loc[(df["Crash_Date"] > dt.datetime(2016,5,10)) & (df["Crash_Date"] <= dt.datetime(2017,5,29))] = 'exit'
df["ridesharing"].loc[(df["Crash_Date"] > dt.datetime(2017,5,29))] = 're-entry'

c:\users\18811\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
c:\users\18811\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\18811\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\18811\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
# immputation
df.fillna(0,inplace = True)

c:\users\18811\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [18]:
# define 'Y': drunk driving or not
def change(s):
    if int(s)==1: return 1
    else: return 0
df['Prsn_Alc_Rslt_ID'] = df['Prsn_Alc_Rslt_ID'].map(change)

In [20]:
# df

        Crash_ID Crash_Date  Prsn_Alc_Rslt_ID  Prsn_Injry_Sev_ID ridesharing
0       11152580 2010-01-15                 0                3.0      before
1       11152580 2010-01-15                 0                5.0      before
2       11152580 2010-01-15                 0                5.0      before
3       11153849 2010-01-15                 0                5.0      before
4       11153849 2010-01-15                 0                5.0      before
...          ...        ...               ...                ...         ...
286475  17279716 2019-08-25                 0                5.0    re-entry
286476  17279722 2019-08-21                 0                5.0    re-entry
286477  17279722 2019-08-21                 0                5.0    re-entry
286478  17279773 2019-09-04                 0                5.0    re-entry
286479  17279773 2019-09-04                 0                5.0    re-entry

[286480 rows x 5 columns]

In [21]:
# # extract data for regression
# tab = pd.crosstab(df['ridesharing'], df['Prsn_Alc_Rslt_ID']).T
# tab /= tab.apply(sum)
# tab

In [24]:
# regression
from patsy import dmatrices
x = dmatrices('Prsn_Alc_Rslt_ID ~ ridesharing', df, return_type='dataframe')[-1]

In [25]:
y = df['Prsn_Alc_Rslt_ID']

In [26]:
import statsmodels.api as sm
logit_model=sm.Logit(y, x)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.075105
         Iterations 8
                            Results: Logit
=======================================================================
Model:                Logit              Pseudo R-squared:   0.002
Dependent Variable:   Prsn_Alc_Rslt_ID   AIC:                43040.3431
Date:                 2019-11-15 15:15   BIC:                43082.6048
No. Observations:     286480             Log-Likelihood:     -21516.
Df Model:             3                  LL-Null:            -21562.
Df Residuals:         286476             LLR p-value:        7.2897e-20
Converged:            1.0000             Scale:              1.0000
No. Iterations:       8.0000
-----------------------------------------------------------------------
                       Coef.  Std.Err.     z     P>|z|   [0.025  0.975]
-----------------------------------------------------------------------
ridesharing[before]   -4.1111   0.0230 -178.6805 0.0000 -4.1562 -4.0660
ridesharing[entry]    -4.1458   0.0338 -122.5749 0.0000 -4.2121 -4.0795
ridesharing[exit]     -4.3010   0.0463  -92.8140 0.0000 -4.3918 -4.2101
ridesharing[re-entry] -4.4837   0.0347 -129.1458 0.0000 -4.5518 -4.4157
=======================================================================

In [27]:
# visualization 
from pandas import Series
import matplotlib.pyplot as plt
ax = Series({'Intercept':-4.1111, 'entry':-0.0347,'exit':-0.1899,'re-entry':-0.3726}).plot(kind='bar',alpha=0.5)
plt.xticks(rotation=360)
ax.set_xlabel("ridesharing period: 'before' as base line")
ax.set_ylabel('coefficient')
plt.title('regression of drunk driving crashes on ridesharing period')

Text(0.5, 1.0, 'regression of drunk driving crashes on ridesharing period')